VITE_STATIC_DATA=https://staging.prozorro.gov.ua/api/static-data
VITE_CONCLUSION_X_DATE=2023-07-24
VITE_CONCLUSION_Y_DATE=2025-01-20
VITE_DEFAULT_QR_LINK=prozorro.gov.ua
VITE_API_URL=https://lb-api-staging.prozorro.gov.ua/api/2.5
VITE_FONT_CDN=https://pdf-staging.prozorro.gov.ua